body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.book {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  margin: 20px;
  padding: 20px;
  box-shadow: border-box;
  border: 1px solid black;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .books {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
}
.title {
  color: blue;
}
.title:hover {
  color: #ffcc00;
}
.review {
  color: cornflowerblue;
}
.image-book {
  width: 100%;
  height: auto;
}
.image-book:hover {
  transform: scale(1.05);
}
